<p id="notice"><%= notice %></p>

<h1>Task Categories</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @task_categories.each do |task_category| %>
      <tr>
        <td><%= link_to 'Show', task_category %></td>
        <td><%= link_to 'Edit', edit_task_category_path(task_category) %></td>
        <td><%= link_to 'Destroy', task_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task Category', new_task_category_path %>
