<!DOCTYPE html>
<html>
<head>
  <title>Двое из ларца</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= link_to "Главная", categories_path %>
<p>
  <% if user_signed_in? %>
      <%= render partial: 'task_notifications/notifications_nav' %>
      <%= current_user.email %>
      <%= link_to "Выйти", destroy_user_session_path, method: :delete %>
      <%= link_to "Профиль", profile_path %>
  <% else %>

      <%= link_to "Войти", new_user_session_path %>


  <% end %>

</p>
<br>
<%= yield %>
</body>
</html>
