<p id="notice"><%= notice %></p>

<p>
  <strong>Login:</strong>
  <%= @admin.login %>
</p>

<p>
  <strong>Password:</strong>
  <%= @admin.password %>
</p>

<p>
  <strong>Role:</strong>
  <%= @admin.role %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @admin.photo %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @admin.tel %>
</p>

<p>
  <strong>Email:</strong>
  <%= @admin.email %>
</p>

<%= link_to 'Edit', edit_admin_path(@admin) %> |
<%= link_to 'Back', admins_path %>
