<p id="notice"><%= notice %></p>


<h2>Категория </h2>
  <strong><h3> <%= @category.body %></h3></strong>
<table>
  <thead>
  <tr>
    <td>Работодатель</td>
    <td>Описание</td>
    <td>Цена</td>
    <td>Адрес</td>
  </tr>
  </thead>

  <tbody>

  <tr>
<% @category.tasks.each do |task| %>
    <% if current_user == nil || current_user.id != task.user_id %>      
      <td><%= link_to task.user.email, task.user %></td>
    <% else %>  
      <td><%= link_to task.user.email, profile_path %> </td>
    <% end %>
    <td><%=task.body %></td>
    <td><%=task.cost %></td>
    <td><%=task.location %></td>  
      <% if current_user == nil%> 
        <td> Вы не авторизированы</td>     
      <% elsif current_user.role == "работник" ||  current_user.role == "admin"%>
        <td><%= link_to 'Присвоить', assign_task_users_path(task_id: task.id), method: :post %></td>        
      <% end%>
        </td>
    </tr>
<%end%>
</tbody>
</table>

<% if current_user == nil || current_user.role == "работодатель" || current_user.role == "работник"%> 
      <%= link_to 'Back', categories_path %>
    <%elsif current_user.role == "admin"%>
      <%= link_to 'Back', categories_path %>
      <%= link_to 'Edit', edit_category_path(@category) %>
    <% end %>