<p id="notice"><%= notice %></p>

<p>
  <%=image_tag @user.photo, :size=>"100x100" %>
</p>

<p>
  <strong>Имя:</strong>
  <%= @user.first_name + ' ' +@user.last_name  %>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>


<p>
  <strong>Номер телефона:</strong>
  <%= @user.tel %>
</p>



<p>
  <strong>Идентификационный номер:</strong>
  <%= @user.inn %>
</p>

<p>
  <strong>Роль:</strong>
  <%= @user.role %>

</p>

<p>
  <strong>Паспорт:</strong>
  <%= @user.passport %>
</p>

<p>
  <strong>Описание:</strong>
  <%= @user.description %>
</p>

  <%if current_user == @user%>
    <%= link_to 'Редактировать', edit_user_path(@user) %>
  <%end%>

<%= link_to 'На главную', categories_path%>



