<p id="notice"><%= notice %></p>

<p>
  <strong>Имя:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Фамилия:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>E-mail:</strong>
  <%= @profile.email %>
</p>




<p>
  <strong>Фото:</strong>
  <%= image_tag @profile.photo, :size => "100x100" %>
</p>

<p>
  <strong>Телефон:</strong>
  <%= @profile.tel %>
</p>



<p>
  <strong>Идентификационный номер:</strong>
  <%= @profile.inn %>
</p>

<p>

  <strong>Роль:</strong>

  <%= @profile.role %>


</p>

<p>
  <strong>Номер и серия пасспорта:</strong>
  <%= @profile.passport %>

</p>

<p>
  <strong>О себе:</strong>
  <%= @profile.description %>
</p>
<% if @profile.role=="работодатель" %>
    <h2>Все задания</h2>
    <% @profile.tasks.each do |task| %>
        <ul>
          <li> <%= link_to task.body, task_path(task) %></li>
        </ul>
    <% end %>

    <%= link_to 'Создать задание', new_user_task_path(@profile) %>
<% else %>
    <h2>Задания которые Вы выполняете</h2>
    <table>
      <tr>
        <% @profile.assigned_tasks.each do |task| %>
            <td> <%= task.title %></td>
            <td> <%= task.body %></td>
            <td> <%= task.cost %></td>
            <td> <%= task.location %></td>
            </tr>
        <% end %>
<% end %>

</table>

<p>
  <%= link_to 'Редактирование инфорамации о себе', edit_user_path(current_user) %>
</p>

<p>
  <%= link_to 'Редактирование Профиля', edit_user_registration_path(current_user) %>
</p>
