<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>




<p>
  <strong>Photo:</strong>
  <%= @user.photo %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @user.tel %>
</p>



<p>
  <strong>Inn:</strong>
  <%= @user.inn %>
</p>

<p>
  <strong>Passport:</strong>
  <%= @user.passport %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user.description %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
