<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>




<p>
  <strong>Photo:</strong>
  <%= @user.photo %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @user.tel %>
</p>



<p>
  <strong>Inn:</strong>
  <%= @user.inn %>
</p>

<p>
  <strong>Роль:</strong>
  <%= @user.roles_mask %>
</p>

<p>
  <strong>Passport:</strong>
  <%= @user.passport %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user.description %>
</p>

<h2>All Tasks</h2>
<% @user.tasks.each do |task| %>
    <ul>
      <li><%= task.body %></li>
    </ul>
<% end %>

<%= form_for ([@user, @user.tasks.build]) do |f| %>
    <%= f.label :body %>
    <%= f.text_field :body%>

    <div class="field">
      <%= f.label :cost %>
      <%= f.number_field :cost %>
    </div>

    <div class="field">
      <%= f.label :location %>
      <%= f.text_field :location %>
    </div>
    <%= f.submit "Create Task" %>
<% end %>




<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
