<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>




<p>
  <strong>Photo:</strong>
  <%=image_tag @user.photo, :size=>"100x100" %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @user.tel %>
</p>



<p>
  <strong>Inn:</strong>
  <%= @user.inn %>
</p>

<p>
  <% if @user.roles_mask==1%>
  <%= "Админ"%>
      <% elsif @user.roles_mask==2%>
  <%= "Является работодателем"%>
  <% else%>
      <%="Является работником"%>
  <%end%>
</p>

<p>
  <strong>Passport:</strong>
  <%= @user.passport %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user.description %>
</p>

  <%if current_user==@user%>
    <%= link_to 'Редактировать', edit_user_path(@user) %> 
  <%end%>

    <%= link_to 'Back', categories_path%>


