<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>




<p>
  <strong>Photo:</strong>
  <%=image_tag @user.photo, :size=>"100x100" %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @user.tel %>
</p>



<p>
  <strong>Inn:</strong>
  <%= @user.inn %>
</p>

<p>
  <strong>Роль:</strong>
  <%= @user.role %>

</p>

<p>
  <strong>Passport:</strong>
  <%= @user.passport %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user.description %>
</p>

  <%if current_user==@user%>
    <%= link_to 'Редактировать', edit_user_path(@user) %>
  <%end%>

    <%= link_to 'На главную', categories_path%>


<h2>Отзывы о пользователе</h2>
<% @user.comments.each do |comment| %>
    <ul>
      <li><%= comment.body %></li>
    </ul>
<% end %>


<%= form_for [@user, @user.comments.build] do |f| %>
    <%= f.text_field :body%>
    <%= f.submit "Leave comment" %>
<% end %>


