
    <h1>Tasks</h1>
    <table>
      <thead>
      <tr>
        <th>Body</th>
        <th>Cost</th>
        <th>Date</th>
        <th>Location</th>
        <th colspan="3"></th>
      </tr>
      </thead>


      <tbody>
      <% @tasks.each do |task| %>

          <tr>
            <td> <%=task.user.email%></td>

            <td><%= task.body %></td>
            <td><%= task.cost %></td>
            <td><%=DateTime.parse( task.created_at.to_s ).strftime(" %e %b %Y %H:%M ")%></td>
            <td><%= task.location %></td>

            <td><%= link_to 'Show', task %></td>
            <td><%= link_to 'Edit', edit_task_path(task) %></td>
            <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>

      </tbody>
    </table>
    <br>

<%= link_to 'На главную', categories_path %>
