<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th>Cost</th>
      <th>Date</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
    <% @tasks.each do |task| %>

      <tr>
        <% task.users.each do |some| %>
            <td><%= some.email %></td>
        <% end %>
        <td><%= task.body %></td>
        <td><%= task.cost %></td>
        <td><%=DateTime.parse( task.created_at.to_s ).strftime(" %e %b %Y %H:%M ")%></td>
        <td><%= task.location %></td>

        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
