<p id="notice"><%= notice %></p>
<p>
  <strong>Категория:</strong>
  <%= @task.category.body %>
</p>
<p>
  <strong>Body:</strong>
  <%= @task.body %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @task.cost %>
</p>

<p>
  <strong>Date:</strong>
  <%= @task.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @task.location %>
</p>

<%= link_to 'Edit', edit_user_task_path(@task) %> |
<%= link_to 'Back', profile_path(current_user) %>
