<p id="notice"><%= notice %></p>
<p>
  <strong>Категория:</strong>
  <%= @task.category.body %>
</p>
<p>
  <strong>Работодатель:</strong>
  <%=link_to @task.user.email, user_path(@task.user) %>
</p>



<p>
  <strong>Заголовок:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Описание:</strong>
  <%= @task.body %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @task.cost %>
</p>

<p>
  <strong>Date:</strong>
  <%= @task.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @task.location %>
</p>

  <strong>Пользователи которые хотят выполнить данное задание:</strong>
  <% @task.assigned_users_tasks.each do |task| %>
      <%=link_to task.user.email, user_path(task.user)%>
  <%end%>
</p>

<% if current_user == nil%>
    <td> Вы не авторизированы для выполнения каких либо действий с заданиями, войдите или зарегистрируйтесь</td>
    <li> <%= link_to 'Назад', category_path(@task.category.id) %></li>
<% elsif current_user.role == "работник" ||  current_user.role == "admin"%>
    <td><%= link_to 'Взять на выполнение', assign_task_users_path(task_id: @task.id), method: :post %></td>
    <li> <%= link_to 'Назад', category_path(@task.category.id) %></li>
<%elsif  current_user.role == "работодатель"%>
    <td> <%= link_to 'Назад', category_path(@task.category.id) %></td>
<%end%>


</td>
</tr>



