<p id="notice"><%= notice %></p>
<p>
  <strong>Категория:</strong>
  <%= @task.category.body %>
</p>
<p>
  <strong>Body:</strong>
  <%= @task.body %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @task.cost %>
</p>

<p>
  <strong>Date:</strong>
  <%= @task.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @task.location %>
</p>


<li> <%= link_to 'Редактировать', edit_task_path(@task) %></li>
<li> <%= link_to 'Удалить', @task, method: :delete, data: { confirm: 'Are you sure?' } %></li>

